$color-main-bg: '#fff';
$color-main-border: '#ccc';

$unit-spacing: 10;
$unit-max-width: 1200;

$color-dim: '#999';

@import "mixins.scss";

body {
  font-family: Arial, Hiragino Sans GB, Microsoft Yahei, "Microsoft Sans Serif", sans-serif;
}

.ant-layout {
  .ant-layout-header {
    background-color: #{$color-main-bg};
    border-bottom: 1px solid #{$color-main-border};
    overflow: hidden;
    @include respond-below(lg) {
      padding: 0 20px;
    }
    .header-content {
      margin: 0 auto;
      max-width: #{$unit-max-width}px;
      display: flex;
      align-items: center;
      @include respond-above(md) {
        padding-left: 20px;
      }
      a {
       &, &:hover {
         color: #333;
       }
      }
      h2 {
        font-weight: bold;
        margin: 0;
        width: 50%;
        @include respond-below(md) {
          & {
            width: 50%;
            position: relative;
            top: -10px;
          }
        }
      }
      .ant-menu {
        @include respond-below(md) {
          & {
            margin-top: -15px;
          }
        }
        display: flex;
        justify-content: flex-end;
        width: 50%;
        border-bottom: none;
        height: calc(100% - 2px);
        &.ant-menu-horizontal > .ant-menu-submenu-active,
        .ant-menu-item-active,
        .ant-menu-item:hover {
          border-color: transparent;
        }
      }
    }
    .tmdb-attribution {
      line-height: 0.3em;
      color: #{$color-dim};
      font-size: 0.3em;
      margin-left: 20px;
      position: relative;
      top: -5px;
      img {
        height: 10px;
        width: 130px;
      }
      @include respond-below(md) {
        & {
          font-size: 0.4em;
          margin: 0;
          display: flex;
          flex-direction: column;
          top: -15px;
          img {
            margin-top: 4px;
          }
        }
      }
    }
    .ant-skeleton-input {
      position: relative;
      top: 15px;
    }
  }
  .ant-layout-content {
    min-height: calc(100vh - 64px);
    background: #{$color-main-bg};
    margin: 0 auto;
    max-width: #{$unit-max-width}px;
    width: 90vw;
    box-sizing: border-box;
    padding: #{$unit-spacing*2}px;
    @include respond-below(md) {
      margin: 0;
      width: 100vw;
    }

    .movie-card {
      .ant-card-head {
        background-color: rgba(139, 205, 164, 0.1);
        .ant-rate {
          filter: sepia(80%);
          float: right;
          margin: -5px 0 0 0;
          .ant-rate-star {
            margin: 0;
            line-height: 1em;
            svg {
              width: 0.8em;
              height: 0.8em;
            }
          }
        }
      }
      &-content {
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        flex-grow: 1;
        flex-wrap: nowrap;
        position: relative;
        @include respond-below(sm) {
          flex-direction: column;
        }
      }
      &-poster {
        img {
          height: 170px;
          width: auto;
          cursor: pointer;
        }
        .ant-empty {
          width: 113px;
          padding: 10px;
          border: 1px solid #{$color-main-border};
          margin: 0;
          svg {
            width: 93px;
          }
        }
        @include respond-below(sm) {
          img {
            height: auto;
            width: 100%;
          }
          .ant-empty {
            width: auto;
            svg {
              width: 100%;
            }
          }
        }
      }
      &-overview {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        @include respond-below(sm) {
          padding: 20px 0 0 0;
        }
        > * {
          display: block;
        }
        &-text {
          display: block;
          margin-bottom: 15px;
        }
        &-genres {
          > span {
            text-decoration: underline;
            &::after {
              content: ',';
              margin-right: 0.4em;
            }
            &:last-child::after {
              content: ''
            }
          }
        }
        &-videos {
          margin-top: 5px;
        }
        &-preload {
          font-size: 0.7em;
          margin-top: 5px;
          color: #{$color-dim};
        }
      }
      &-actions {
        display: flex;
        flex-direction: column;
        > * {
          padding: 20px;
          box-sizing: border-box;
        }
        @include respond-below(sm) {
          flex-direction: row;
          position: absolute;
          top: 20px;
          left: 0;
          right: 0;
          > * {
            text-align: center;
            width: 50%;
          }
        }
      }
      .knownfor-list {
        .ant-list-item {
          padding: 10px 0;
        }
        .knownfor-item {
          span {
            margin-left: 10px;

            &:first-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.menu-icon svg {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 0.25em;
}

.btn-hidden {
  display: none !important;
}

.poster-large-preview {
  text-align: center;
  img {
    display: inline-block;
    max-width: 100%;
  }
}

h3.ant-typography {
  small {
    margin-left: 20px;
    font-size: 0.5em;
    color: #{$color-main-border};
  }
}

.search-history-list {
  .ant-list-item {
    padding: 10px 0;
  }
}

.movies-list-pagination {
  margin: 15px 0;
}

.movie-card-videos {
  .ant-avatar {
    background-color: #f8f8f8;
    color: #e00008;
  }
  .ant-list-item {
    cursor: pointer;
    padding: 5px 0;
  }
}
